.main{
display:flex;
flex-direction:row;
}
.childone{
  padding:5%;
  margin:10%;
  border:5px solid black;
}
.childtwo{
  padding:5%;
  margin:10%;
first name :
  border:1px solid black;
}

/* for moblies*/
@media only screen and (min-width:320px) and (max-width:480px){
  .main{
  display:flex;
  flex-direction:column;
  }
  .childone{
    padding:5%;
    margin:10%;
    border:5px solid black;
  }
  .childtwo{
    padding:5%;
    margin:10%;
    border:1px solid black;
  }

}

@media only screen and (min-width:481px) and (max-width:768px){
body{
background:blue;

}  


.main{
  display:flex;
  flex-direction:column;
  }
  .childone{
    padding:5%;
    margin:10%;
    border:5px solid black;
  }
  .childtwo{
    padding:5%;
    margin:10%;
    border:1px solid black;
  }

}
